body{
  max-width: 1000px;
  background-color: red;
  background-image: url(images/carrain.jpg);
  font-family: 'Roboto', sans-serif;
}

h1{
  color: blue;
}

ul{
  list-style-type: none;
}

img{
  max-width: 50%;
}

p{
  color: pink;
}

a{
  color: white;
  text-decoration: none;
}

.link{
  color: green;
}
